html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
select,
button {
  border: none;
  outline: none;
  background: none;
  border: 1px solid black;
  padding: 8px;
}

.screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
}
